<div class="flower-{{.ID}}">
  <h3>{{.Name}} -
    {{if .DiscountPrice}}
      <span style="text-decoration: line-through;">{{.Price}}$</span>
      <span> {{.DiscountPrice}}$</span>
    {{else}}
      {{.Price}}$
    {{end}}
  </h3>
  <p>Stock: {{.Inventory.Stock}}</p>
  <p>Description: {{.Description}}</p>
  <p>Available: {{if .Available}}Yes{{else}}No{{end}}</p>
  <button
    hx-post="/cart"
    hx-target="#response-container"
    hx-swap="outerHTML"
    hx-vals='{"flowerId": {{.ID}}}'
    hx-on="htmx:responseError: #response-container">
      Add to Cart
  </button>
  <button 
    hx-delete="/flowers/{{.ID}}"
    hx-target=".flower-{{.ID}}"
    hx-swap="outerHTML"
    hx-on="htmx:responseError: #response-container">
      Delete
  </button>
</div>