<div class="flower-{{.ID}}">
  <h3>{{.name}} -
    {{if .discountPrice.Valid}}
      <span style="text-decoration: line-through;">${{.price}}</span>
      <span>${{.discountPrice.Float64}}</span>
    {{else}}
      ${{.price}}
    {{end}}
  </h3>
  <p>Stock: {{.stock}}</p>
  {{if .description}}<p>Description: {{.description}}</p>{{end}}
  <p>Available: {{if .available}}Yes{{else}}No{{end}}</p>

  <button
    hx-post="/cart/"
    hx-target="#info-container"
    hx-swap="innerHTML"
    hx-vals='{"flowerId": {{.ID}}}'
    hx-target-error="#info-container">
      Add to Cart
  </button>
  <button 
    hx-delete="/flowers/{{.ID}}"
    hx-target=".flower-{{.ID}}"
    hx-swap="innerHTML"
    hx-target-error="#info-container">
      Delete
  </button>
</div>