<!DOCTYPE html>
<html>
<head>
  <title>User Login</title>
  <script 
    src="https://unpkg.com/htmx.org@2.0.4/dist/htmx.js" 
    integrity="sha384-oeUn82QNXPuVkGCkcrInrS1twIxKhkZiFfr2TdiuObZ3n3yIeMiqcRzkIcguaof1"
    crossorigin="anonymous">
  </script>
  <script
    src="https://unpkg.com/htmx-ext-response-targets@2.0.3/dist/response-targets.min.js"
    integrity="sha384-T41oglUPvXLGBVyRdZsVRxNWnOOqCynaPubjUVjxhsjFTKrFJGEMm3/0KGmNQ+Pg"
    crossorigin="anonymous">
  </script>
</head>

<body hx-ext="response-targets">
  <form
    hx-post="/auth/login"
    hx-target="#login-info"
    hx-swap="innerHTML"
    hx-target-error="#login-info"
  >
    <label for="email">Email</label>
    <input id="email" name="email" type="email" placeholder="Enter your email..." required />

    <label for="password">Password</label>
    <input id="password" name="password" type="password" placeholder="Enter your password..." required />

    <button>Login</button>
  </form>
  <a href="/">Go to home page</a>
  <div id="login-info"></div>
</body>
</html>