<!DOCTYPE html>
<html>
<head>
  <title>User Register</title>
  <script 
    src="https://unpkg.com/htmx.org@2.0.4/dist/htmx.js" 
    integrity="sha384-oeUn82QNXPuVkGCkcrInrS1twIxKhkZiFfr2TdiuObZ3n3yIeMiqcRzkIcguaof1"
    crossorigin="anonymous">
  </script>
  <script 
    src="https://unpkg.com/htmx-ext-response-targets@2.0.3/dist/response-targets.min.js"
    integrity="sha384-T41oglUPvXLGBVyRdZsVRxNWnOOqCynaPubjUVjxhsjFTKrFJGEMm3/0KGmNQ+Pg"
    crossorigin="anonymous">
  </script>
</head>

<body hx-ext="response-targets">
  <form
    hx-post="/auth/signup"
    hx-target="#register-info"
    hx-swap="innerHTML"
    hx-target-error="#register-info"
  >
    <label for="fname">First Name</label>
    <input id="fname" name="first-name" placeholder="Enter first name..." required />

    <label for="lname">Last Name</label>
    <input id="lname" name="last-name" placeholder="Enter last name..." required />
  
    <label for="email">Email</label>
    <input id="email" name="email" type="email" placeholder="Enter your email..." required />

    <label for="password">Password</label>
    <input id="password" name="password" type="password" placeholder="Enter your password..." required />

    <label for="confirm-password">Confirm Password</label>
    <input id="confirm-password" name="confirm-password" type="password" placeholder="Confirm your password..." required />

    <button>Register</button>
  </form>
  
  <div id="register-info"></div>
</body>
</html>