<div class="flower-{{.ID}}">
  <h3>{{.name}} -
    {{if .discountPrice}}
      <span style="text-decoration: line-through;">{{.price}}$</span>
      <span> {{.discountPrice}}$</span>
    {{else}}
      {{.price}}$
    {{end}}
  </h3>
  <p>Stock: {{.stock}}</p>
  <p>Description: {{.description}}</p>
  <p>Available: {{if .available}}Yes{{else}}No{{end}}</p>
  <button 
    hx-delete="/flowers/{{.ID}}" 
    hx-target=".flower-{{.ID}}" 
    hx-swap="outerHTML"
    hx-on="htmx:responseError: #err-response">
      Delete
  </button>
</div>