<!DOCTYPE html>
<html>
<head>
  <title>Product List</title>
  <script 
    src="https://unpkg.com/htmx.org@2.0.4/dist/htmx.js" 
    integrity="sha384-oeUn82QNXPuVkGCkcrInrS1twIxKhkZiFfr2TdiuObZ3n3yIeMiqcRzkIcguaof1"
    crossorigin="anonymous">
  </script>
</head>
<body>
  <h1>Here is a list of our products!</h1>
  <a href="/">Go to home page</a>
  <form
    hx-post="/flowers"
    hx-target="#flower-products"
    hx-swap="beforeend"
    hx-on="htmx:responseError: #response-container"
  >
    <label for="fname">Flower name</label>
    <input id="fname" name="name" placeholder="Enter flower name..." required />

    <label for="fprice">Flower price</label>
    <input id="fprice" name="price" placeholder="Enter flower price... (e.g. 14.99)" required />

    <label for="favailable">Is available to order</label>
    <input id="favailable" name="available" type="checkbox" value="true" />

    <label for="fdescription">Flower description</label>
    <input id="fdescription" name="description" placeholder="Enter description..." />

    <label for="fdiscount">Flower discount</label>
    <input id="fdiscount" name="discount" placeholder="Enter discount..." />

    <label for="fstock">Flower stock</label>
    <input id="fstock" name="stock" placeholder="Enter stock..." />

    <button>Add new flower</button>
  </form>

  <div id="response-container"></div>

  <div id="flower-products">
    {{range .flowers}}
      <div class="flower-{{.ID}}">
        <h3>{{.Name}} -
          {{if .DiscountPrice}}
            <span style="text-decoration: line-through;">{{.Price}}$</span>
            <span> {{.DiscountPrice}}$</span>
          {{else}}
            {{.Price}}$
          {{end}}
        </h3>
        <p>Stock: {{.Inventory.Stock}}</p>
        <p>Description: {{.Description}}</p>
        <p>Available: {{if .Available}}Yes{{else}}No{{end}}</p>
        <button
          hx-post="/cart"
          hx-target="#response-container"
          hx-swap="outerHTML"
          hx-vals='{"flowerId": {{.ID}}}'
          hx-on="htmx:responseError: #response-container">
            Add to Cart
        </button>
        <button 
          hx-delete="/flowers/{{.ID}}"
          hx-target=".flower-{{.ID}}"
          hx-swap="outerHTML"
          hx-on="htmx:responseError: #response-container">
            Delete
        </button>
      </div>
    {{end}}
  </div>
</body>
</html>