name: Build and run tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Go setup
      uses: actions/setup-go@v3
      with:
        go-version: '1.25.7'

    - name: Cache Go modules
      uses: actions/cache@v3
      with:
        path: ~/.cache/go-build
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-

    - name: Install dependencies
      run: |
        go mod tidy

    - name: Build service
      run: |
        go build -v main.go

    - name: Run L1 tests
      run: |
        make test-l1

    - name: Run L2 tests
      run: |
        make test-l2